$color-text-default: #333;
$color-text-heading-1: #333;
$color-text-heading-1-strong: #333;
$color-link: #333;
$color-link-visited: $color-link;
$color-link-hover: #000;
$color-link-active: $color-link;
$color-footer-background: #171717;
$color-footer-text: #fff;
$color-footer-link: #fff;
