
$rhythm-unit: 'rem';
$base-font-size: 16px;
$base-line-height: 16px;

$font-config: ( 
	"default": (
		"sizes": (
			null: (16px, 1.5), 
			$breakpoint-phablet: (18px, 1.5), 
			$breakpoint-small: (24px, 2), 
			$breakpoint-medium: (24px, 2), 
			$breakpoint-large: (24px, 2),
			$breakpoint-full: (24px, 2)
		)
	),
	"h1": ( 
		"sizes": (
			null: 18px, 
			$breakpoint-phablet: 24px, 
			$breakpoint-small: 32px, 
			$breakpoint-medium: 32px, 
			$breakpoint-large: 32px, 
			$breakpoint-full: 32px
		)
	),
	"h1-strong": ( 
		"sizes": (
			null: 40px, 
			$breakpoint-phablet: (60px, 3), 
			$breakpoint-small: (80px, 4), 
			$breakpoint-medium: (80px, 4), 
			$breakpoint-large: (80px, 4), 
			$breakpoint-full: (80px, 4)
		)
	),
	"h2": ( 
		"sizes": (
			null: 25px, 
			$breakpoint-phablet: 30px, 
			$breakpoint-small: 40px, 
			$breakpoint-medium: 50px, 
			$breakpoint-large: 45px, 
			$breakpoint-full: 60px
		)
	),
	"h3": ( 
		"sizes": (
			null: 24px, 
			$breakpoint-phablet: 24px, 
			$breakpoint-small: 32px, 
			$breakpoint-medium: 32px, 
			$breakpoint-large: 32px, 
			$breakpoint-full: 32px
		)
	),
	"footer-text": ( 
		"sizes": (
			null: (16px, 1.5), 
			$breakpoint-phablet: (18px, 1.5), 
			$breakpoint-small: (24px, 2), 
			$breakpoint-medium: (24px, 2), 
			$breakpoint-large: (24px, 2),
			$breakpoint-full: (24px, 2)
		)
	),
	"footer-list": ( 
		"sizes": (
			null: 24px, 
			$breakpoint-phablet: 18px, 
			$breakpoint-small: 27px, 
			$breakpoint-medium: 27px, 
			$breakpoint-large: 27px, 
			$breakpoint-full: 27px
		)
	),
	"footer-links": ( 
		"sizes": (
			null: 50px, 
			$breakpoint-phablet: 50px, 
			$breakpoint-small: 50px, 
			$breakpoint-medium: 50px, 
			$breakpoint-large: 50px, 
			$breakpoint-full: 50px
		)
	)
);

html, body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

p {
	@include font-config("default");
}

a, a:active, a:hover, a:visited {
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}

h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
}

h1 {
	@include font-config("h1");
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-weight: normal;
	font-style: italic;

	strong {
		@include font-config("h1-strong");
		font-family: 'Raleway', sans-serif;
		font-weight: 800;
		text-transform: uppercase;
		font-style: normal;
	}
}

h2 {
	@include font-config("h2");
	font-weight: 300;
	text-transform: uppercase;
	text-align: left;
}

h3 {
	@include font-config("h3");
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-weight: normal;
}

header {
	
	h1, p {
		text-align: center;
	}

	a {
		white-space: nowrap;
	}
}

strong {
	font-weight: bold;
}

#cases {

	> h2 {
		@include font-config("h1-strong");
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		text-transform: uppercase;
		font-style: normal;
		text-align: center;
	}

	figure {
		text-align: center;
	}
}

footer {

	font-family: 'Lato', sans-serif;
	font-weight: 300;

	a, a:active, a:hover, a:visited {
		font-weight: 300;
	}

	h3 {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}

	@include at-medium {
		font-weight: 100;

		h3, a, a:active, a:hover, a:visited {
			font-weight: 100;
		}
	}
	
	p {
		@include font-config("footer-text");
		text-align: center;
	}

	ul {
		@include font-config("footer-list");
	}

	ul.contact {
		text-align: center;
	}
	ul.links {

		text-align: center;

		li {
			@include font-config("footer-links");

			a, a:active, a:hover, a:visited {
				color: #fff;
				font-weight: normal;
			}
		}
	}
}
