@import "susy";
@import "font-awesome-compass";
@import "font-awesome";
@import "compass/reset";
@import "compass/typography/vertical_rhythm";
@import "compass/css3/columns";
@import "compass/css3/border-radius";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/box-sizing";
@import "settings";
@import "mixins";
@import "colors";
@import "fonts";
@include establish-baseline;

/* apply a natural box layout model to all elements, but allowing components to change */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {

	border-bottom: 1px solid red
}

h1 {
	strong {
		display: block;
	}
}

header {
	@include container;
	padding: 20px 0;
	h1, p {

		@include span(12 first);
		@include at-medium {
			@include span(8 first);
			@include push(2);
		}
	}
	h1 {
		padding: 20px;
	}
	p {
		padding: 10px 10px;
		@include at-medium {
			padding: 15px 0;
		}
	}
}

.container {
	@include container;
}

#cases {

	> h2 {
		padding: 30px 20px 10px;
	}

	.case {
		@include container;
		padding: 30px 20px;

		@include at-medium {
			padding: 50px 30px;
		}
		@include at-full {
			padding: 40px 0;
		}

		figure {
			@include span(12);
			padding-top: 20px;

			@include at-large {
				padding-top: 0;
			}

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
		figcaption {
			@include span(12);
		}
	}

	#case-where-is-the-bus {
		@include case-text-at-left(9, 3, $color-case-where-is-the-bus);
	}
	#case-gravidresan {
		@include case-text-at-right(6, 6, $color-case-gravidresan);
	}
	#case-liberoklubben {
		@include case-text-at-left(6, 6, $color-case-liberoklubben);
	}
	#case-kokbokshyllan {
		@include case-text-at-left(7, 5, $color-case-kokbokshyllan);
	}
	#case-cook-and-bake {
		@include case-text-at-right(6, 6, $color-case-cook-and-bake);
	}
	#case-gravidboken {
		@include case-text-at-right(7, 5, $color-case-gravidboken);
	}
	#case-ostbagsvalet {
		@include case-text-at-left(6, 6, $color-case-ostbagsvalet);
	}
	#case-okobooko {
		@include case-text-at-right(6, 6, $color-case-okobooko);
	}
	#case-husqvarna-sales-tool {
		@include case-text-at-left(6, 6, $color-case-husqvarna-sales-tool);
	}
}

footer {

	h3 {
		padding: 10px 40px;
	}
	
	p {
		@include container;
		padding: 20px 40px;
	}

	ul.contact {
		@include container;

		li {
			display: inline;
		}
		li + li::before {
			content: "  ·  ";
		}
	}
	ul.links {
		@include container;
		padding: 10px 40px;
		li {
			display: inline;
			margin: 0 20px;

			a, a:active, a:hover, a:visited {
				border: none;
			}
		}
	}
	a, a:active, a:hover, a:visited {

		border-bottom: none;
	}
}
