<header>
	<h1><%= I18n.t(:title_headline) %></h1>
	<p>
		<%= I18n.t(:intro) %>
	</p>
	<p>
		<%= I18n.t(:intro2, :email => mail_to(data.settings.contact.email), :linkedin => link_to("linkedin", data.settings.social.linkedin), :cv => link_to("resume", "/resume/magnus-ottosson.pdf")) %>
	</p>
</header>